[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CAMERA"]
	path = CAMERA
	url = https://github.com/sneumann/camera
[submodule "Rdisop"]
	path = Rdisop
	url = https://github.com/sneumann/rdisop
[submodule "mzR"]
	path = mzR
	url = https://github.com/sneumann/mzr
[submodule "xcms"]
	path = xcms
	url = https://github.com/sneumann/xcms
